In [1]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\LENOVO\Downloads\study_marks.csv")
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [5]:
df.cov()

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

In [6]:
df.corr()

             Study_Hours    Marks
Study_Hours      1.00000  0.98277
Marks            0.98277  1.00000

In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\LENOVO\Downloads\temp_icecream_sales.csv")
df

   Temperature  IceCream_Sales
0           20             200
1           22             220
2           24             250
3           26             270
4           28             300
5           30             320
6           32             350
7           34             370
8           36             400
9           38             420

In [2]:
df.cov()

                Temperature  IceCream_Sales
Temperature       36.666667      455.555556
IceCream_Sales   455.555556     5666.666667

In [3]:
df.corr()

                Temperature  IceCream_Sales
Temperature        1.000000        0.999406
IceCream_Sales     0.999406        1.000000

In [4]:
data={
    "rain":[30,32,29,35,33],
    "sales":[150,130,200,80,100]
}
df=pd.DataFrame(data)

In [5]:
df

   rain  sales
0    30    150
1    32    130
2    29    200
3    35     80
4    33    100

In [6]:
df.cov()

        rain   sales
rain     5.7  -107.0
sales -107.0  2170.0

In [7]:
df.corr()

           rain     sales
rain   1.000000 -0.962092
sales -0.962092  1.000000

In [8]:
data={
    "speed":[40,60,85,100,200],
    "distance":[700,300,500,400,500]
}
df=pd.DataFrame(data)
df

   speed  distance
0     40       700
1     60       300
2     85       500
3    100       400
4    200       500

In [9]:
df.cov()

           speed  distance
speed     3845.0   -1075.0
distance -1075.0   22000.0

In [10]:
df.corr()

             speed  distance
speed     1.000000 -0.116882
distance -0.116882  1.000000

## Normalization

In [11]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [12]:
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [13]:
s.max()

9000

In [14]:
s.min()

1000

In [15]:
s_norm = (s - s.min()) / (s.max() - s.min())
print(s_norm)

0    0.000
1    0.125
2    0.250
3    0.500
4    1.000
dtype: float64

In [16]:
s_norm = MinMaxScaler().fit_transform(s.values.reshape(-1,1))
print(s_norm)

[[0.   ]
 [0.125]
 [0.25 ]
 [0.5  ]
 [1.   ]]

In [17]:
df=pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,90]
})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        90

In [18]:
norm_data = MinMaxScaler().fit_transform(df)
norm_data

array([[0.        , 0.        ],
       [0.25      , 0.25      ],
       [0.5       , 0.5       ],
       [0.75      , 0.66666667],
       [1.        , 1.        ]])

In [19]:
norm_df = pd.DataFrame(norm_data, columns=df.columns)
norm_df

   Temp  Humidity
0  0.00  0.000000
1  0.25  0.250000
2  0.50  0.500000
3  0.75  0.666667
4  1.00  1.000000

## Standardization

In [20]:
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [21]:
s.mean()

np.float64(4000.0)

In [22]:
s.std()

3162.2776601683795

In [23]:
z_Score=(s - s.mean()) / s.std()
print(z_Score)

0   -0.948683
1   -0.632456
2   -0.316228
3    0.316228
4    1.581139
dtype: float64

In [24]:
from sklearn.preprocessing import StandardScaler
z_Score = StandardScaler().fit_transform(s.values.reshape(-1,1))
print(z_Score)

[[-1.06066017]
 [-0.70710678]
 [-0.35355339]
 [ 0.35355339]
 [ 1.76776695]]

In [25]:
z_Score = (s - s.mean()) / s.std(ddof=0)
print(z_Score)

0   -1.060660
1   -0.707107
2   -0.353553
3    0.353553
4    1.767767
dtype: float64

In [26]:
df=pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,90]
})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        90

In [27]:
z_Score = StandardScaler().fit_transform(df)
z_Score_df = pd.DataFrame(z_Score, columns=df.columns)
print(z_Score)

[[-1.41421356 -1.4083645 ]
 [-0.70710678 -0.6799001 ]
 [ 0.          0.04856429]
 [ 0.70710678  0.53420722]
 [ 1.41421356  1.50549309]]