## Train-Test-Split

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
data = pd.DataFrame({
    "Study_Hours": [ 1,2,3,4,5,6,7,8],
    "Marks": [35,40,50,55,65,70,80,85]
})

In [3]:
data

   Study_Hours  Marks
0            1     35
1            2     40
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [4]:
x=data[["Study_Hours"]]
y=data["Marks"]

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=44)

In [6]:
x_train

   Study_Hours
0            1
7            8
6            7
1            2
3            4
4            5

In [7]:
x_test.shape

(2, 1)

In [8]:
x_train.shape

(6, 1)

## Real Time DataSet

In [9]:
diabetes = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Diabetes.csv')
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [11]:
y = diabetes['diabetes']

In [12]:
x = diabetes.drop(['diabetes'],axis=1)

In [13]:
x = diabetes[['pregnancies','glucose','diastolic','triceps','insulin','dpf','age']]

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=44)

In [15]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((614, 7), (154, 7), (614,), (154,))